.videos
  .wrapper.filters
    padding: 25px
  .video.b-a.panel
    .panel-heading
      height: 3px
      padding: 0
  .video-wrapper
    position: relative
    padding-bottom: 58%
    padding-top: 25px
    height: 0

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  b.label
    float: left
    display: inline-block
    margin: 4px 4px 0 0
